<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Ce site est encore en construction, il n'est pas complet pour le moment, merci de votre compréhension.</p>
                <h2 class="section-heading">Qui sommes nous ?</h2>
                <hr class="light">
                <p class="text-faded">Deux filles carburant à la bonne humeur, osthéopathes jusqu'au bout des doigts, prêtes à vivre une aventure de l'ampleur du 4l trophy.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Suivez-nous</a>
            </div>
        </div>
    </div>
</section>
