  <aside class="bg-dark" id="4ltrophy">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Qu'est-ce que le 4l Trophy ?</h2>
              <p>Le 4L Trophy est un raid sportif et humanitaire réservé uniquement aux étudiants. A bord d’une 4L nous parcourrons plus de 6000km dont 600km sur piste désertique avec comme seule aide une boussole et un roadbook.<br/>

En février 2017 nous prendrons le ferry à Biarritz pour commencer notre périple à destination de Marrakech. Une fois arrivées, nous pourrons commencer notre course d’orientation à travers le désert marocain afin d’acheminer prés de 50kg de matériels scolaires et sportifs aux écoles.<br/>

Nous avons besoin de vous pour réaliser ce projet ! Que ce soit un stylo, une peluche ou 1€, votre participation nous permettra de faire un pas de plus vers Marrakech ! </p>
          </div>
      </div>
  </aside>
